@import "../../assets/styles/mixines.scss";
@import "../../assets/styles/vars.scss";

.chart {
  &__container {
    max-width: 560px;
    margin: 0 auto;
  }

  &__title {
    font-size: 1.2rem;
    color: $gray-color;
  }
}

.bar {
  rect {
    shape-rendering: crispEdges;
    fill: $color-blue;
  }

  text {
    fill: $gray-color;
  }
}

.axis {
  path, line {
    fill: none;
    stroke: $gray-color;
    shape-rendering: crispEdges;
  }
}
