@import "../../assets/styles/mixines.scss";
@import "../../assets/styles/vars.scss";


.header {
  &__container {
    @include flex-around-between;
    padding: 2rem 3rem;
    color: $color-white;
  }
}

header.header__wrapper {
  background-color: $color-blue;
}
