@mixin flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-around-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
